<div class="main-page">
  <div>
    <h1>Welcome to <b>flixMe!</b></h1>
    <img class="img-logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMjIgMXYyaC0ydi0yaC0ydjRoLTEydi00aC0ydjJoLTJ2LTJoLTJ2MjJoMnYtMmgydjJoMnYtNGgxMnY0aDJ2LTJoMnYyaDJ2LTIyaC0yem0tMTggMThoLTJ2LTJoMnYyem0wLTRoLTJ2LTJoMnYyem0wLTRoLTJ2LTJoMnYyem0wLTRoLTJ2LTJoMnYyem0xNCA5aC0xMnYtOGgxMnY4em00IDNoLTJ2LTJoMnYyem0wLTRoLTJ2LTJoMnYyem0wLTRoLTJ2LTJoMnYyem0wLTRoLTJ2LTJoMnYyeiIvPjwvc3ZnPg==">
    <p>Enter to see the best collection of movies.</p>
  </div>
  <div>
    <button mat-raised-button (click)="openUserRegistrationDialog()" color="warn">
      Sign Up
    </button>
    <button mat-raised-button (click)="openUserLoginDialog()" color="warn">
      Login
    </button>
  </div>
</div>